<!-- templates/new_playlist.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container card d-flex mt-4 justify-content-center">
    <form method='POST' action='/playlist'>
        <fieldset>
            <legend>New Playlist</legend>
            <!-- TITLE -->
            <p>
                <label for='title'>Name of Playlist</label><br>
                <input type='text' name='title' />
            </p>
            <p>
                <label for='description'>Playlist Genre</label><br>
                <input type='text' name='description'/>
            </p>
            <p>
                <label for='creator'>Creator</label><br>
                <input type='text' name='creator' />
            </p>
        </fieldset>
        <!-- BUTTON -->
        <p>
            <button type='submit'>Create Playlist</button>
        </p>
    </form>
</div>
{% endblock %}