{% extends 'base.html' %}

{% block content %}

    <div>
        <button>
            <a style="color: rgba(92, 165, 131, 0.829)" 
                href='/playlist/{{ playlist._id }}/add_song' class='btn warning'>Add a song</a>
        </button>
    </div>
    <div class="card container mb-5 mt-5 card-body"> 
        <div class="row">
            <div class="col-sm">
                <h1>{{ playlist.title }}</h1>
                <h3>Created by {{ playlist.creator }}</h3>
                    <a href='/'>back home</a>
            </div>
            <form method='POST' action='/playlist/{{ playlist._id }}/delete'>
                <button class='btn btn-primary' type='submit'>Delete Playlist</button>
            </form><br>
        </div>
        <hr>
        <div>
            <ul>
                {% for song in playlist.songs %}
                    <li>
                        {{ song.title }} by {{ song.artist}} <a href='{{ song.link }}' target='_blank'>Listen</a>
                    </li>
                    <form method='POST' action='/playlist/{{ playlist._id }}/delete_song/{{ loop.index }}'>
                        <button class='btn mt-2 btn-primary' type='submit'>Delete</button>
                    </form>
                {% endfor %}
                <p> 
                    <div class="mt-4"><a href='/playlist/{{ playlist._id }}/edit'>Edit</a><br>
                        <a href='/'>back home</a></div>

                </p>
            </ul>
        </div>
    </div>
{% endblock %}